:root{
    --bg-color:#181419;
    --primary-color:#9f36486b;
    --secondary-color:#ffc098;
    --third-color:#db4648;
    --third-bis-color:#db4648f2;
    --bg-input-color:#4f31572c;
    --txt-color:orange;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Eagle Lake", serif;
}

body{
    background-color: var(--bg-color); 
}

.err{
    font-size:15px;
    color:var(--secondary-color);
    font-family: 'Courier New', Courier, monospace;
}

/* -- Desde acá es la página del Registro -- */

.subtitle {
    margin-top: 200px;
    text-align: center;
    font-family: "Eagle Lake", serif;
    color: var(--txt-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: 50px;
}

.form_container {
    background-color:var(--primary-color);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-family: "Eagle Lake", serif;
    color: var(--txt-color);
}

input[type="nombre"],
input[type="apellido"],
input[type="date"],
input[type="pais"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #757575; 
    color: #fff; 
}

#pais {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #757575; 
    color: #fff; 
}

input[type="submit"] {
    background-color: #4CAF50;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049; 
}

/* -- Hasta acá es la página del Registro -- */

/* -- Desde acá es la adaptación de la pantalla -- */

@media screen and (max-width: 700px){
    :root{
        --txt-color:rgba(255, 0, 0, 0.90);
        }
    #logo{
        font-size: 4cap;
    }
    h1{
        font-size: 2.25cap;
    }
    .subtitle {
        margin-top: 150px;
    }
    .container{
        width: 75%;
        margin-left: 75px;
    }
}

@media screen and (max-width: 400px){
    :root{
        --txt-color:rgb(60, 255, 0, 0.5);
        }    
    #logo{
        font-size: 4cap;
    }
    h1{
        font-size: 2cap;
    }
    .container{
        width: 65%;
        margin-left: 75px;
    }
}

/* -- Hasta acá es la adaptación de la pantalla -- */