<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carta de Pizzas</title>
    <link rel="stylesheet" href="../static/css/Style.css">
    <link rel="stylesheet" href="../static/css/styleMenu.css">
    <link rel="shortcut icon" href="../static/img/favicon_1.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="nav-container">
            <div class="bar">
                <div id="logo">
                    Studio Pizza
                </div>
                <div id="nav">
                    <ul class="nav-links">
                        <li><a href="../index.html" class="btn-cac">Home</a></li>
                        <li><a href="menu.html" class="btn-cac">Carta</a></li>
                        <li><a href="Registro.html" class="btn-cac">Registro</a></li>
                        <li><a href="nosotros.html" class="btn-cac">Nosotros</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="products">
        <h1>Carta de Promos Studio</h1>
        <div class="list-products">
            <div class="pizza product">
                <div class="grid-item title-product">
                    <h3>Studio 1</h3>
                </div>
                <div class="grid-item ingredients">
                <p>Muzzarella, Cebolla, Napolitana.</p>
                </div>
                <div class="grid-item image-pizza">
                    <img src="../static/img/pizza03.jpg" alt="preview-pizza">
                </div>
                <div class="grid-item cost">
                    <p class="cost-pizza"> Precio: $ 15.000</p>
                </div>
            </div>
            <div class="pizza product">
                <div class="grid-item title-product">
                    <h3>Studio 2</h3>
                </div>
                <div class="grid-item ingredients">
                <p>Napolitana, Panceta, Fugazzeta.</p>
                </div>
                <div class="grid-item image-pizza">
                    <img src="../static/img/pizza01.jpg" alt="preview-pizza">
                </div>
                <div class="grid-item cost">
                    <p class="cost-pizza"> Precio: $ 20.000</p>
                </div>
            </div>
            <div class="pizza product">
                <div class="grid-item title-product">
                    <h3>Studio 3</h3>
                </div>
                <div class="grid-item ingredients">
                <p>Crudo & Rucula, 4 Quesos, Primavera.</p>
                </div>
                <div class="grid-item image-pizza">
                    <img src="../static/img/pizza02.jpg" alt="preview-pizza">
                </div>
                <div class="grid-item cost">
                    <p class="cost-pizza"> Precio: $30.000</p>
                </div>
            </div>
            <div class="pizza product">
                <div class="grid-item title-product">
                    <h3>Studio 4</h3>
                </div>
                <div class="grid-item ingredients">
                <p>Cebolla, Panceta, 4 Quesos.</p>
                </div>
                <div class="grid-item image-pizza">
                    <img src="../static/img/pizza03.jpg" alt="preview-pizza">
                </div>
                <div class="grid-item cost">
                    <p class="cost-pizza"> Precio: $ 25.000</p>
                </div>
            </div>
            <div class="pizza product">
                <div class="grid-item title-product">
                    <h3>Studio 5</h3>
                </div>
                <div class="grid-item ingredients">
                <p>Primavera, Fugazzeta, Muzzarella.</p>
                </div>
                <div class="grid-item image-pizza">
                    <img src="../static/img/pizza02.jpg" alt="preview-pizza">
                </div>
                <div class="grid-item cost">
                    <p class="cost-pizza"> Precio: $ 35.000</p>
                </div>
            </div>
            <div class="pizza product">
                <div class="grid-item title-product">
                    <h3>Studio 6</h3>
                </div>
                <div class="grid-item ingredients">
                <p>Studio, Jamón & Morrones, Panceta.</p>
                </div>
                <div class="grid-item image-pizza">
                    <img src="../static/img/pizza01.jpg" alt="preview-pizza">
                </div>
                <div class="grid-item cost">
                    <p class="cost-pizza"> Precio: $ 40.000</p>
                </div>
            </div>
        </div>
    </section>
    <script src="../static/js/script.js"></script>
    <footer>
        <div class="foot-er">
            <div class="container-1">
                <div class="inst"> <a href="https://www.instagram.com/" target="_blank"> <img src="../static/img/Insta.png" alt=""> </a> </div>
                <div class="face"> <a href="https://www.facebook.com/" target="_blank"> <img src="../static/img/Face.png" alt=""> </a> </div>
                <div class="what"> <a href="https://www.whatsapp.com/" target="_blank"> <img src="../static/img/What.png" alt=""> </a> </div>
                <div class="twit"> <a href="https://www.twitter.com/" target="_blank"> <img src="../static/img/Twitter.png" alt=""> </a> </div>
            </div>
        </div>
    </footer>
</body>
</html>