<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="../static/css/Style.css">
    <link rel="stylesheet" href="../static/css/StyleNosotros.css">
    <link rel="shortcut icon" href="../static/img/favicon_1.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="nav-container">
            <div class="bar">
                <div id="logo">
                    Studio Pizza
                </div>
                <div id="nav">
                    <ul class="nav-links">
                        <li><a href="../index.html" class="btn-cac">Home</a></li>
                        <li><a href="menu.html" class="btn-cac">Carta</a></li>
                        <li><a href="Registro.html" class="btn-cac">Registro</a></li>
                        <li><a href="nosotros.html" class="btn-cac">Nosotros</a></li>
                        <li><a href="gestion.html" class="btn-cac">Gestión</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <header class="banner">
            <img src="../static/img/BannerPizza.jpg" alt="Banner de la pizzería Studio Pizza">
        </header>
        <div class="container">
            <h2>Sobre Nosotros</h2>
            <p>En Studio Pizza nos apasiona ofrecer la auténtica experiencia de la pizza italiana en el corazón de Palermo, Buenos Aires. Desde nuestros inicios, nos hemos comprometido a brindar a nuestros clientes la más alta calidad en cada una de nuestras creaciones culinarias.</p>
            <p>Nuestro secreto radica en la combinación de recetas tradicionales transmitidas de generación en generación con ingredientes frescos y sabrosos, seleccionados cuidadosamente para garantizar la mejor experiencia gastronómica.</p>
        
            <h2>Contacto</h2>
            <p>¡Llámanos al <strong>+54 9 11 1234-5678</strong> para hacer tu pedido o reservar tu mesa!</p>
        
            <h2>Horario de Atención</h2>
            <p>Nos esforzamos por atender a nuestros clientes en los siguientes horarios:</p>
            <ul>
                <li>Lunes a Viernes: 12:00 pm - 11:00 pm</li>
                <li>Sábados y Domingos: 11:00 am - 12:00 am</li>
            </ul>
            
            <h2>Especial del Día</h2>
            <p>No te pierdas nuestro especial del día: ¡Pizza Margherita al estilo napolitano con un 15% de descuento!</p>
            
            <h2>Ubicación</h2>
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.595708442625!2d-58.424029684227035!3d-34.58774348045609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccacef32f2295%3A0x95d40d91f93a92e0!2sPalermo%2C%20Buenos%20Aires%2C%20Argentina!5e0!3m2!1sen!2sus!4v1645659641118!5m2!1sen!2sus" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="map"></iframe>
            </div>
        </div>
    </main>
    <script src="../static/js/script.js"></script>
    <footer>
        <div class="foot-er">
            <div class="container-1">
                <div class="inst"> <a href="https://www.instagram.com/" target="_blank"> <img src="../static/img/Insta.png" alt=""> </a> </div>
                <div class="face"> <a href="https://www.facebook.com/" target="_blank"> <img src="../static/img/Face.png" alt=""> </a> </div>
                <div class="what"> <a href="https://www.whatsapp.com/" target="_blank"> <img src="../static/img/What.png" alt=""> </a> </div>
                <div class="twit"> <a href="https://www.twitter.com/" target="_blank"> <img src="../static/img/Twitter.png" alt=""> </a> </div>
            </div>
        </div>
    </footer>
</body>
</html>